/*  font-family: 'Saira Condensed', sans-serif;  */
/*  font-family: 'Saira', sans-serif;  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* HEADER */

header {
    background-color: #29a6dc;
}

.welcome {
    width: 100%;
    height: 50vh;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.welcome p {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    padding: 4.5rem 0 1.5rem 0;
}

.welcome h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.welcome h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    padding: 0 0 2rem 0;
}

.welcome button {
    width: 20rem;
    height: 3.6rem;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    font-family: 'Saira', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

.person-img {
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.person-img img {
    display: block;
    height: 100%;
    margin: 0 0 0 20%;
}

@media (orientation: portrait) and (min-width: 360px) {
    .welcome p {
        font-size: 5rem;
    }

    .welcome h2 {
        font-size: 2.5rem;
    }

    .welcome h1 {
        font-size: 2.5rem;
    }

    .welcome button {
        width: 21.5rem;
        height: 4rem;
        font-size: 1.5rem;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    .welcome p {
        font-size: 8rem;
    }

    .welcome h2 {
        font-size: 4.5rem;
    }

    .welcome h1 {
        font-size: 4.5rem;
    }

    .welcome button {
        width: 40rem;
        height: 6rem;
        font-size: 2.5rem;
    }

    .person-img img {
        margin-left: 35%;
    }
}

@media (orientation: portrait) and (min-height: 620px) {
    .welcome h1 {
        padding: 0 0 4rem 0;
    }
}

@media (orientation: portrait) and (min-height: 820px) {
    .welcome p {
        padding-top: 8rem;
    }
}

@media (orientation: portrait) and (min-height: 1200px) {
    .welcome p {
        padding-top: 12rem;
    }

    .welcome h1 {
        padding-bottom: 6rem;
    }
}

@media (orientation: landscape) {
    .welcome {
        width: 50%;
        height: 100vh;
        float: left;
    }

    .person-img {
        width: 50%;
        height: 100vh;
    }

    .person-img img {
        margin: 0;
        padding: 2rem 0 0 0;
    }
}

@media (orientation: landscape) and (min-width: 640px) {
    .welcome p {
        font-size: 5rem;
    }

    .welcome h2 {
        font-size: 2.5rem;
    }

    .welcome h1 {
        font-size: 2.5rem;
    }

    .welcome button {
        width: 21.5rem;
        height: 4rem;
        font-size: 1.5rem;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {
    .welcome {
        text-align: left;
        padding: 5% 0 0 5%;
    }

    .welcome p {
        font-size: 8rem;
    }

    .welcome h2 {
        font-size: 3.5rem;
    }

    .welcome h1 {
        font-size: 3.5rem;
        padding-bottom: 6rem;
    }

    .welcome button {
        width: 32rem;
        height: 6rem;
        font-size: 2rem;
    }
}


@media (orientation: landscape) and (min-width: 1280px) {
    .welcome p {
        font-size: 11rem;
    }

    .welcome h2 {
        font-size: 5rem;
    }

    .welcome h1 {
        font-size: 5rem;
    }

    .welcome button {
        width: 46rem;
        height: 9rem;
        font-size: 2.6rem;
    }
}

@media (orientation: landscape) and (min-width: 1600px) {
    .welcome p {
        font-size: 13rem;
        padding-top: 0;
    }

    .welcome h2 {
        font-size: 5.5rem;
    }

    .welcome h1 {
        font-size: 5.5rem;
    }

    .welcome button {
        width: 50rem;
        height: 10rem;
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    .welcome button {
        cursor: pointer;
        transition: .2s;
    }

    .welcome button:hover {
        background-color: #fff;
        color: #111;
    }
}

/* SECTION.FEATURES */

.features {
    max-width: 1600px;
    padding: 5%;
    margin: 3rem auto 0 auto;
    text-align: center;
}

.features h1 {
    width: 100%;
    text-transform: uppercase;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 700;
    font-size: 2.6rem;
}

.feature img {
    width: 26rem;
    height: 16rem;
    margin: 3rem 0 0 0;
}

.feature h2 {
    text-transform: uppercase;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
}

.feature p {
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    margin: 1.5rem 1rem 0 1rem;
}

@media (min-width: 360px) {
    .features h1 {
        font-size: 2.8rem;
    }

    .feature img {
        width: 28rem;
        height: 17rem;
    }

    .feature h2 {
        font-size: 2.4rem;
    }

    .feature p {
        font-size: 1.6rem;
    }
}

@media (min-width: 768px) {
    .features h1 {
        font-size: 3.5rem;
    }

    .feature img {
        width: 40rem;
        height: 24rem;
        margin: 4rem 0 0 0;
    }

    .feature h2 {
        font-size: 2.8rem;
    }

    .feature p {
        font-size: 2rem;
        margin: 2.5rem 1rem 0 1rem;
    }
}

@media (min-width: 1024px) {
    .feature {
        width: 33.333%;
        float: left;
    }

    .feature img {
        width: 26rem;
        height: 15rem;
        margin: 5rem 0 3rem 0;
    }

    .feature h2 {
        font-size: 2.2rem;
    }

    .feature p {
        font-size: 1.4rem;
        margin: 2.5rem 1rem 0 1rem;
    }

    .feature:nth-of-type(1) {
        padding-right: 1.5rem;
    }

    .feature:nth-of-type(2) {
        padding: 0 1.5rem;
    }

    .feature:nth-of-type(3) {
        padding-left: 1.5rem;
    }
}

@media (min-width: 1600px) {
    .features h1 {
        font-size: 6rem;
    }

    .feature img {
        width: 38rem;
        height: 22rem;
    }

    .feature h2 {
        font-size: 3.5rem;
    }

    .feature p {
        font-size: 2rem;
    }
}

/* SECTION.PROJECTS */

.projects {
    background-color: #1e1e1e;
    padding: 0 0 15% 0;
}

.projects h1 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 7% 5%;
}

.project {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto 12% auto;
}

.project:nth-of-type(2n-1) {
    background-color: #ff4f2c;
}

.project:nth-of-type(2n-2) {
    background-color: #0170ba;
}

.project:nth-of-type(4) {
    margin-bottom: 0;
}

.project-img img {
    width: 100%;
    height: 100%;
}

.project-description {
    color: #fff;
    font-family: 'Saira', sans-serif;
}

.project-description h4 {
    width: 95%;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    font-weight: 500;
    font-size: 1.8rem;
    padding: 7% 0 5% 7%;
}

.project-description p {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5% 7% 7% 7%;
}

@media (min-width: 768px) {
    .projects h1 {
        font-size: 4.5rem;
    }
}

@media (orientation: landscape) {
    .projects {
        padding-bottom: 5%;
    }

    .project {
        margin-bottom: 5%;
    }

    .project-img {
        width: 50%;
    }

    .project-description {
        width: 50%;
    }

    .project-description h4 {
        padding: 5% 5%;
    }

    .project:nth-of-type(odd) .project-img {
        float: left;
    }

    .project:nth-of-type(odd) .project-description {
        float: left;
    }

    .project:nth-of-type(even) .project-img {
        float: right;
    }

    .project:nth-of-type(even) .project-description {
        float: right;
    }

    .project:nth-of-type(even) .project-description h4 {
        margin: auto 0 auto 7%;
        padding-left: 0;
    }
}

@media (orientation: landscape) and (min-width: 1400px) {
    .project-description h4 {
        font-size: 3.5rem;
    }

    .project-description p {
        font-size: 2rem;
    }
}

/* SECTION.MOTTO */

.motto {
    background-image: url(../img/motto.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    font-family: 'Saira', sans-serif;
}

.bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 63, 114, .5);
    padding: 10% 5% 20% 5%;
}

.bg h3 {
    font-family: 'Saira Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    margin: 0 0 10rem 0;
}

.text {
    font-size: 1.8rem;
    width: 80%;
    margin: 0 auto;
}

.author {
    font-size: 1.1rem;
    margin: 3rem 0 0 0;
}

@media (orientation: landscape) {
    .bg {
        padding-bottom: 10%;
    }

    .bg h3 {
        margin: 0 0 4rem 0;
    }
}

@media (min-width: 768px) {
    .bg h3 {
        font-size: 5rem;
    }

    .text {
        font-size: 2.2rem;
    }

    .author {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .bg h3 {
        font-size: 6rem;
        margin-bottom: 12rem;
    }

    .text {
        font-size: 4.8rem;
    }

    .author {
        font-size: 2.4rem;
        margin-top: 5rem;
    }
}

/* SECTION.HOBBY */
.hobby {
    text-align: center;
}

.hobby h3 {
    text-transform: uppercase;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 2.4rem;
    padding: 7% 5%;
}

.item {
    width: 100%;
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.item:nth-of-type(1) {
    background-image: url(../img/hobby1.jpg);
}

.item:nth-of-type(2) {
    background-image: url(../img/hobby2.jpg);
}

.item:nth-of-type(3) {
    background-image: url(../img/hobby3.jpg);
}

.item:nth-of-type(4) {
    background-image: url(../img/hobby4.jpg);
}

.item p {
    width: 100%;
    font-family: 'Saira', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 250%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 20%
}

@media (min-width: 533px) {
    .item {
        width: 50%;
        float: left;
    }
}

@media (min-width: 1024px) {
    .item {
        height: 42vh;
        background-size: 100%;
        transition: .7s;
    }

    .hobby h3 {
        font-size: 5rem;
        padding: 5% 5%;
    }

    .item p {
        height: 100%;
        bottom: 0;
        line-height: 42vh;
        font-size: 3.2rem;
        opacity: 0;
        transition: .7s;
    }

    .item:hover {
        background-size: 130%;
    }

    .item:hover p {
        opacity: 1;
    }
}

@media (min-width: 1600px) {
    .item {
        height: 50vh;
    }

    .item p {
        line-height: 50vh;
        font-size: 3.6rem;
    }
}
