/*  font-family: 'Saira Condensed', sans-serif;  */
/*  font-family: 'Saira', sans-serif;  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* HEADER */

header {
    background-color: #29a6dc;
}

.welcome {
    width: 100%;
    height: 50vh;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.welcome p {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    padding: 4.5rem 0 1.5rem 0;
}

.welcome h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.welcome h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    padding: 0 0 2rem 0;
}

.welcome button {
    width: 20rem;
    height: 3.6rem;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    font-family: 'Saira', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

.person-img {
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.person-img img {
    display: block;
    height: 100%;
    margin: 0 0 0 20%;
}

@media (orientation: portrait) and (min-width: 360px) {
    .welcome p {
        font-size: 5rem;
    }

    .welcome h2 {
        font-size: 2.5rem;
    }

    .welcome h1 {
        font-size: 2.5rem;
    }

    .welcome button {
        width: 21.5rem;
        height: 4rem;
        font-size: 1.5rem;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    .welcome p {
        font-size: 8rem;
    }

    .welcome h2 {
        font-size: 4.5rem;
    }

    .welcome h1 {
        font-size: 4.5rem;
    }

    .welcome button {
        width: 40rem;
        height: 6rem;
        font-size: 2.5rem;
    }

    .person-img img {
        margin-left: 35%;
    }
}

@media (orientation: portrait) and (min-height: 620px) {
    .welcome h1 {
        padding: 0 0 4rem 0;
    }
}

@media (orientation: portrait) and (min-height: 820px) {
    .welcome p {
        padding-top: 8rem;
    }
}

@media (orientation: portrait) and (min-height: 1200px) {
    .welcome p {
        padding-top: 12rem;
    }

    .welcome h1 {
        padding-bottom: 6rem;
    }
}

@media (orientation: landscape) {
    .welcome {
        width: 50%;
        height: 100vh;
        float: left;
    }

    .person-img {
        width: 50%;
        height: 100vh;
    }

    .person-img img {
        margin: 0;
        padding: 2rem 0 0 0;
    }
}

@media (orientation: landscape) and (min-width: 640px) {
    .welcome p {
        font-size: 5rem;
    }

    .welcome h2 {
        font-size: 2.5rem;
    }

    .welcome h1 {
        font-size: 2.5rem;
    }

    .welcome button {
        width: 21.5rem;
        height: 4rem;
        font-size: 1.5rem;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {
    .welcome {
        text-align: left;
        padding: 5% 0 0 5%;
    }

    .welcome p {
        font-size: 8rem;
    }

    .welcome h2 {
        font-size: 3.5rem;
    }

    .welcome h1 {
        font-size: 3.5rem;
        padding-bottom: 6rem;
    }

    .welcome button {
        width: 32rem;
        height: 6rem;
        font-size: 2rem;
    }
}


@media (orientation: landscape) and (min-width: 1280px) {
    .welcome p {
        font-size: 11rem;
    }

    .welcome h2 {
        font-size: 5rem;
    }

    .welcome h1 {
        font-size: 5rem;
    }

    .welcome button {
        width: 46rem;
        height: 9rem;
        font-size: 2.6rem;
    }
}

@media (orientation: landscape) and (min-width: 1600px) {
    .welcome p {
        font-size: 13rem;
        padding-top: 0;
    }

    .welcome h2 {
        font-size: 5.5rem;
    }

    .welcome h1 {
        font-size: 5.5rem;
    }

    .welcome button {
        width: 50rem;
        height: 10rem;
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    .welcome button {
        cursor: pointer;
        transition: .2s;
    }

    .welcome button:hover {
        background-color: #fff;
        color: #111;
    }
}

/* SECTION.FEATURES */

.features {
    max-width: 1600px;
    padding: 5%;
    margin: 3rem auto 0 auto;
    text-align: center;
}

.features h1 {
    width: 100%;
    text-transform: uppercase;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 700;
    font-size: 2.6rem;
}

.feature img {
    width: 26rem;
    height: 16rem;
    margin: 2.5rem 0 2.5rem 0;
}

.feature h2 {
    text-transform: uppercase;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
}

.feature p {
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    margin: 1.5rem;
}
